<html>
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Create New Post</title>
        <link rel="stylesheet" href="/styles.css" />
        <link rel="stylesheet" href="/form.css" />
	</head>
	<body>
		<main>
			<div>
				<a href="/">Back to Home</a>
			</div>
			<h2>Create New Post</h2>
			<form action="/new" method="POST">
				<input name="name" id="name" type="text" placeholder="enter name"/>
				<textarea name="text" id="text" placeholder="enter message"></textarea>
				<button type="submit">Submit</button>
			</form>
		</main>
	</body>
</html>