<html>
	<head>
		<title>
			Create New Post
		</title>
	</head>
	<body>
		<div>
			<a href="/">Back to Home</a>
		</div>
		<form action="/new" method="POST">
			<h2>Create New Post</h2>
			<input name="name" id="name" type="text" placeholder="enter name"/>
			<textarea name="text" id="text" placeholder="enter message"></textarea>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>