<html>
	<head>
		<title>Message: <%= id %> </title>
	</head>
	<body>
		<div>
			<a href="/">Back to Home</a>
		</div>
		<h1>User: <%= user %> </h1>
		<h2>Time: <%= added %> </h2>
		<p>Message: <%= text %> </p>
	</body>
</html>